<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Sala - Rocket.Q</title>
    
    <!-- css -->
    <link id="theme" rel="stylesheet" type="text/css" href="/styles/global.css">
    <link id="homestyle" rel="stylesheet" href="/styles/home.css">
    <!-- <link rel="stylesheet" href="/styles/dark-mode.css"> -->

    <!-- <link id="theme" rel="stylesheet" type="text/css" href="light-theme.css" /> -->


    <!-- FONTES -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    
            <!-- SCRIPT -->
            <script src="/scripts/dark.js" defer type="module"></script>
</head>
<body>
    <div id="home" class="content">
        <header>
            <a href="/">
            <img id="logo" src="/assets/logo.svg" alt="Rocket.Q logo">
            </a>
                <img id="theme-toggle" src="/assets/dark.png" alt="Criar uma sala">
        
        </header>

        <div id="bg">
            <div class="ball top"></div>
                <div class="ball bottom"></div>
        </div>

        <main>
            <div class="container">
<!-- renderizar parte correta -->
                <%- include(`parts/${page}`)  %>
            </div>
        </main>
    </div>
</body>
</html>